{
    "kind": "ConfigMap",
    "apiVersion": "v1",
    "metadata": {
        "name": "uirouteconfig"
    },
    "data": {
        "analytic-ui": "http://analytic-listener-sko.{{ apps_wildcard }}",
        "registration-live-ui": "http://registration-command-sko.{{ apps_wildcard }}",
        "seat-ui": "http://seat-ui-reader-sko.{{ apps_wildcard }}"
    }
}